<div class="container"> 
    <div class="row text-center">
        <h2>All Users</h2>
        <table class="table table-bordered">
            <thead >
                <tr  class="info text-center">
                    <th class="text-center">ID</th>
                    <th class="text-center">first</th>
                    <th class="text-center">last</th>
                    <th class="text-center">department</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center"  ng-repeat="user in allusers">
                    <td class="text-center">{{user.id}}</td>
                    <td class="text-center">{{user.first}}</td>
                    <td class="text-center">{{user.last}}</td>
                    <td class="text-center">{{user.department}}</td>
                </tr>
            </tbody>
        </table>
        <a href="#!/home"><button type="button" class="btn btn-danger" style="width:100px;">Home</button></a>  
    </div>
</div>
    
    