<div class="container">    
  <div class="row text-center">       
    <div class="btn-group-vertical text-center">
      <a href="#!/alluser" ><button type="button" class="btn btn-primary">All Users</button></a>
      <a href="#!/create"><button type="button" class="btn btn-success">Create User</button></a>
      <a href="#!/find"><button type="button" class="btn btn-info">Find User</button></a>
      <a href="#!/update"><button type="button" class="btn btn-warning">Update User</button></a>
      <a href="#!/delete"><button type="button" class="btn btn-danger">Delete User</button></a>
    </div>
  </div>
</div>

