<div class="container"> 
    <div class="row text-center">
        <h2>All Users</h2>
        <table class="table table-bordered">
            <thead >
                <tr  class="info text-center">
                    <th class="text-center">ID</th>
                    <th class="text-center">first</th>
                    <th class="text-center">last</th>
                   <!--   <th class="text-center">ID</th>
                    <th class="text-center">first</th>
                    <th class="text-center">last</th>
                    <th class="text-center">department</th> -->
                    <!-- <th class="text-center">department</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="text-center"  ng-repeat="employees in allusers">
                    <td class="text-center">{{employees.id}}</td>
                    <td class="text-center">{{employees.firstname}}</td>
                    <td class="text-center">{{employees.lastname}}</td>
                    <!-- <td class="text-center">{{user.lastname}}</td> -->
             <!--        <td class="text-center">{{user.city}}</td>
                    <td class="text-center">{{user.state}}</td>
                    <td class="text-center">{{user.address}}</td>
                    <td class="text-center">{{user.email}}</td>
                </tr> -->
            </tbody>
        </table>
        <a href="#!/home"><button type="button" class="btn btn-danger" style="width:100px;">Home</button></a>  
    </div>
</div>
    
    